label {
    display: inline-block;
    width: 100%;
    margin: 0;
    font-weight: 600;
}
select {
    width: 100%;
    margin-bottom: 10px;
    padding: 3px 6px;
    border: 1px solid rgba(3, 37, 65, 0.2);
    outline: none;
    transition: all 0.2s;
}
select:hover {
    box-shadow: inset 0px 0px 0px 4px rgba(189, 33, 48, 1);
}
