.MovieCard {
    display: flex;
    margin-bottom: 20px;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.MovieCard:hover {
    box-shadow: 0px 6px 12px 4px rgba(3, 37, 65, 0.6);
}
.Poster {
    flex: 0 0 50%;
}
    .Poster img {
        height: 298px;
    }
.MovieInfo {
    flex: 0 0 50%;
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
    border: 1px solid rgba(3, 37, 65, 0.4);
}
.Icons {
    flex: 0 0 17%;
    /* background: lightgrey */
}
.Title {
    flex: 0 0 70%;
    /* background: lightgreen */
}
    .Title h6 {
        margin: 0;
        font-family: 'Permanent Marker', cursive;
        font-size: 20px;
        color: #bd2130;
    }
.DetailsBtn {
    flex: 0 0 13%;
    text-align: center;
    /* background: lightgrey */
}
    .DetailsBtn a {
        font-size: 16px;
        line-height: 32px;
        border: 1px solid rgba(3, 37, 65, 0.2);
    }
