.Button {
    text-align: center;
}
    .Button a {
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 40px;
        text-decoration: none;
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
        background: #fff;
        border: 1px solid rgba(3, 37, 65, 0.4);
        color: #032541;
        transition: all 0.2s;
    }
    .Button a:hover {
        background: #bd2130;
        color: #fff;
    }
