.Desc {
    display: flex;
}
    .Poster img {
        object-fit: cover;
    }
.Overview {
    flex: 0 0 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
}
    .Overview span {
        display: inline-block;
        width: 100%;
        padding: 15px;
        border: 1px solid #fff;
    }
    .Overview h2 {
        display: inline-block;
        width: 100%;
        font-weight: 600;
        font-size: 40px;
        color: #bd2130;
    }
.Icons {
    display: flex;
    justify-content: flex-start;
}
.Icons div+div,
.Icons div+div+div {
    margin-left: 50px;
}
.Icons div:first-child {
    width: 90px !important;
    height: 90px !important;
}
.Icons div:first-child div {
    font-size: 22px;
}
.Icons circle {
    cx: 73;
    cy: 47;
}
    .Overview p {
        margin: 0;
        font-weight: 600;
        font-size: 18px;
        text-align: justify;
        color: #032541;
    }

/* --------------------Media Queries-------------------- */
@media (max-width: 850px) {
    .Desc {
        display: block;
    }
    .Poster {
        display: none;
    }
    .Overview p {
        margin-top: 20px;
    }
}
