.FiltersBox {
    padding: 15px;
    border: 1px inset rgba(3, 37, 65, 0.5);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.FiltersBox:hover {
    box-shadow: 0px 6px 12px 4px rgba(3, 37, 65, 0.5);
}
.ClearFiltersBtn {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    border: 1px solid rgba(3, 37, 65, 0.25);
    background: #fff;
    color: #032541;
    transition: all 0.3s;
}
.ClearFiltersBtn:hover {
    background: #032541;
    color: #fff;
}
label {
    display: inline-block;
    width: 100%;
    margin: 0;
    font-weight: 600;
}
select {
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
}
.Genres label {
    width: inherit;
    font-weight: 400;
}
