@import './reset';
@import '../node_modules/bootstrap/scss/bootstrap';

body {
    padding-right: 0px !important;
    font-family: 'Source Sans Pro', sans-serif;
}

// bootstrap overrides
.navbar {
    padding: 20px 40px;
}
.navbar-brand,
.nav-link {
    line-height: 20px;
}
.nav-tabs .nav-link {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
    font-weight: 600;
    color: #bd2130;
}
